<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
 	
 	
	<resultMap id="productSelectMap" type="product">
		<result property="prodNo" 				column="prod_no" 			jdbcType="INTEGER"/>
		<result property="prodName"				column="prod_name" 			jdbcType="VARCHAR" />
		<result property="prodDetail" 			column="prod_detail" 		jdbcType="VARCHAR" />
		<result property="manuDate" 			column="manufacture_day" 	jdbcType="VARCHAR" />
		<result property="price" 				column="price" 				jdbcType="NUMERIC" />
		<result property="fileName" 			column="image_file" 		jdbcType="VARCHAR" />
		<result property="regDate" 				column="reg_date" 			jdbcType="DATE" />
		<result property="proTranCode" 			column="tran_status_code" 	jdbcType="VARCHAR" />		
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addProduct"		parameterType="product" >
 	
	 	INSERT 
	 	INTO product
	 	VALUES (seq_product_prod_no.nextval,#{prodName},#{prodDetail:VARCHAR},#{manuDate:VARCHAR},#{price:NUMERIC},#{fileName:VARCHAR},SYSDATE)

	 </insert>

	 
	  
	 <select 	id="getProduct"	parameterType="string"	resultMap="productSelectMap">
		SELECT
		prod_no,prod_name,prod_detail,manufacture_day,price,image_file,reg_date		
		FROM product
		WHERE prod_no = #{value}
	 </select>
	 

	 <update	id="updateProduct"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		prod_name 	= #{prodName} ,
			prod_detail	= #{prodDetail},
			manufacture_day = #{manuDate} ,
			price	=	#{price},
			image_file	=	#{fileName}			
	   	</set>
	   	WHERE prod_no = #{prodNo}
	 </update>
		 
		
	<select  id="getProductList"  parameterType="map"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT 
	  								p.PROD_NO AS prod_no
	  								,p.PROD_NAME AS prod_name
	  								,p.PROD_DETAIL as prod_detail
	  								,p.MANUFACTURE_DAY AS manufacture_day 
	  								,p.PRICE AS price
	  								,p.IMAGE_FILE AS image_file
				                    ,p.REG_DATE AS reg_date 
				                    ,t.tran_status_code AS tran_status_code
				                    FROM product p, transaction t 
				                    WHERE t.prod_no(+) = p.prod_no
											<if test="search.searchCondition != null">
										
												
													<if test="search.searchCondition == 0 and search.searchKeyword !='' ">
										 				AND p.prod_Name  LIKE '%'||#{search.searchKeyword}||'%'
													</if>
													<if test="search.searchCondition == 1 and search.searchKeyword !='' ">
										 				AND p.prod_name  LIKE '%'||#{search.searchKeyword}||'%'
													</if>
											
											</if>
											<if test = " priceList == 'ASC' ">
												ORDER BY p.price ASC NULLS LAST
											</if> 
											
											<if test = "priceList == 'DESC' ">
												ORDER BY  p.price DESC NULLS LAST
											</if>
											
											) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	

	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT prod_no,prod_name,prod_detail,manufacture_day,price,image_file,reg_date
						FROM product
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			prod_name = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		price = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>

</mapper>